@inherits ButtonDefault

<button disabled="@(IsProcessing?"disabled":null)" type="button" hotkey="@(!string.IsNullOrEmpty(HotKey)?HotKey:null)" @onclick="OnClickAction" class="btn btn@(IsOutline==true?"-outline":"")-danger @(TextWrap==true?"text-wrap":"text-nowrap") @AddClass">@_content</button>
